.posicao{
  background-color: rgba(255, 255, 0, 0) !important;
  color: #ffffff;
}

.ocupado{
  filter:grayscale();
}

.oeste{
  transform: rotate(270deg);
}

.sul{
  transform: rotate(180deg);
}

.porta{
  text-align: right;
}

.erro{
  color: #ff0000;
  background-color: #ffffff;
  text-align: center;
}

body{
    margin-bottom: 50px;
}

.table th, 
.card-header {
  background-color: #007bff;
  color: #ffffff;
}

.atuadores{
  display: flex; 
  justify-content: space-around;
}
.btn-sm{
  margin:5px;
}
.estado_porta{
  visibility: visible;
}

.nav-item.active{
  font-weight: bold;
}