.posicao{
  background-color: rgba(255, 255, 0, 0) !important;
}

.ocupado{
  filter:grayscale();
}

.oeste{
  transform: rotate(270deg);
}

.sul{
  transform: rotate(180deg);
}

.porta{
  text-align: right;
}

.erro{
  color: #ff0000;
  text-align: center;
}

body{
    margin-bottom: 50px;
    
}

.luzBaixa{
  background-color: rgba(255, 255, 0, 0.20) !important;
}
.luzAlta{
  background-color: rgba(255, 255, 0, 0.40) !important;
}

.table th, 
.card-header {
  background-color: #007bff;
  color: #ffffff;
}

.atuadores{
  display: flex; 
  justify-content: space-around;
}
