.sensor{
    background-color: #93baff;
}
.atuador{
    background-color: #ffbf6c;
}
body{
    margin-bottom: 50px;
}

td{
    height: 100px;
    width: 50;
    border:none;
}

.table {
    table-layout: auto;
    width: 100%;
}

